/* --- SỬA LỖI TEXT DÍNH CHÙM --- */

/* 1. Khung chứa chữ */
.cf-info {
    display: flex !important;
    flex-direction: column !important; /* Bắt buộc xếp dọc từ trên xuống */
    justify-content: center !important;
    line-height: 1.3 !important;
}

/* 2. Dòng Tiêu đề (SLIDER, BANNER...) */
.cf-info strong {
    display: block !important; /* Ép xuống dòng */
    font-size: 12px !important;
    font-weight: 700 !important;
    color: #202223 !important;
    text-transform: uppercase !important;
    margin-bottom: 2px !important; /* Cách dòng dưới một chút */
}

/* 3. Dòng Mô tả nhỏ (Nhiều ảnh trượt...) */
.cf-info span {
    display: block !important; /* Ép xuống dòng */
    font-size: 11px !important;
    color: #6d7175 !important;
    font-weight: 400 !important;
}
/*z index*/
.cf-complex__tabs {
    position: relative;
    z-index: unset !important;
}

@media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed;
    }
}